In [244]:
import pandas as pd
import numpy as np
from sklearn import cross_validation
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import scale

table = pd.read_table('wine.data', sep=',', header=None)
table.count()

0     178
1     178
2     178
3     178
4     178
5     178
6     178
7     178
8     178
9     178
10    178
11    178
12    178
13    178
dtype: int64

In [245]:
target = table.ix[:,0]

target.head()

0    1
1    1
2    1
3    1
4    1
Name: 0, dtype: int64

In [246]:
data = table.ix[:, 1:]
#data = (df - df.mean()) / (df.max() - df.min())
data.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [247]:
result = []
maximum = 0
k_res = 0
for k in range(1, 50):
    classifier = KNeighborsClassifier(n_neighbors=k)
    kfold = cross_validation.KFold(178, n_folds=5 , random_state=42)

    result_iter = cross_validation.cross_val_score(classifier, data, y=target, cv = kfold)
    result_iter = result_iter.mean()
    if result_iter > maximum:
        maximum = result_iter
        k_res = k
    result.append([k, result_iter])
    
#np.max(result[:, 1:1], axes = 0)
print 'k = %d' % k_res
print '%.2f' % maximum

f = open('answers/1.1.1', 'w')
f.write('%d' % k_res)
f.close()

f = open('answers/1.1.2', 'w')
f.write('%.2f' % maximum)
f.close()

k = 1
0.63

In [251]:
scaled = data.as_matrix()
scaled = scale(scaled)
scaled = pd.DataFrame(data = scaled)
print scaled.count()
data = scaled
scaled.head()

0     178
1     178
2     178
3     178
4     178
5     178
6     178
7     178
8     178
9     178
10    178
11    178
12    178
dtype: int64

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1.518613,-0.562250,0.232053,-1.169593,1.913905,0.808997,1.034819,-0.659563,1.224884,0.251717,0.362177,1.847920,1.013009
1,0.246290,-0.499413,-0.827996,-2.490847,0.018145,0.568648,0.733629,-0.820719,-0.544721,-0.293321,0.406051,1.113449,0.965242
2,0.196879,0.021231,1.109334,-0.268738,0.088358,0.808997,1.215533,-0.498407,2.135968,0.269020,0.318304,0.788587,1.395148
3,1.691550,-0.346811,0.487926,-0.809251,0.930918,2.491446,1.466525,-0.981875,1.032155,1.186068,-0.427544,1.184071,2.334574
4,0.295700,0.227694,1.840403,0.451946,1.281985,0.808997,0.663351,0.226796,0.401404,-0.319276,0.362177,0.449601,-0.037874

In [252]:
result = []
maximum = 0
k_res = 0
for k in range(1, 50):
    classifier = KNeighborsClassifier(n_neighbors=k)
    kfold = cross_validation.KFold(178, n_folds=5 , random_state=42)

    result_iter = cross_validation.cross_val_score(classifier, data, y=target, cv = kfold)
    result_iter = result_iter.mean()
    if result_iter > maximum:
        maximum = result_iter
        k_res = k
    result.append([k, result_iter])
    
#np.max(result[:, 1:1], axes = 0)
print 'k = %d' % k_res
print '%.2f' % maximum

f = open('answers/1.1.3', 'w')
f.write('%d' % k_res)
f.close()

f = open('answers/1.1.4', 'w')
f.write('%.2f' % maximum)
f.close()

k = 16
0.93