In [2]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_csv("classification.csv")
print data.shape
data.head()

(200, 2)

   true  pred
0     1     0
1     1     1
2     1     1
3     0     0
4     1     1

In [33]:
class_0 = data[data["true"] == 0]

FP = class_0[class_0["pred"] == 1].shape[0] 
TN = class_0[class_0["pred"] == 0].shape[0] 

print FP, FN

34 64

In [34]:
class_1 = data[data["true"] == 1]

TP = class_1[class_1["pred"] == 1].shape[0] 
FN = class_1[class_1["pred"] == 0].shape[0] 
print TP, TN

43 64

In [35]:
f = open("answers/4.1", "w")
f.write("%d %d %d %d" % (TP, FP, FN, TN))
f.close()

!cat answers/4.1

43 34 59 64

In [36]:
43 + 34 + 64 + 59

200